# git
.git/
.gitignore

# python
__pycache__/
**/__pycache__/

# venv
venv/

# pycharm
.idea/

# vscode
.vscode/

# database
*.db

# output dir
static/uploads/

# heroku
Procfile
Aptfile

# others
README.md
assets/
LICENSE
