<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top-call">
                        <h5>Need Help? Call us.</h5>
                        <h2>1800 9734 3301</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top-auth">
                        <h5>Join Now And Start Saving The Planet! </h5>
                        <a href="{{ url_for('login') }}" class="primary-btn">Log in</a>
                        <a href="{{ url_for('register') }}" class="primary-btn sign-up">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__text set-bg" data-setbg="../static/img/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer__text-about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                        </div>
                        <p>EnergyClash is Singapore's first distributed competitive green living game. Upload your power bills, cut down on
                            your energy usage, and compete against other districts to reduce emissions. Win cash for charities in your area, while saving the planet at the same time.</p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer__text-widget">
                        <h5>Company</h5>
                        <ul>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Press & Media</a></li>
                            <li><a href="#">Past Events</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer__text-widget">
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="#">Competition Rules</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Energy-saving tips</a></li>
                            <li><a href="#">Learning guides</a></li>
                            <li><a href="#">Legal</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer__text-widget">
                        <h5>CONTACT US</h5>
                        <ul class="footer__widget-info">
                            <li><span class="fa fa-map-marker"></span> Somewhere in NYP, Ang Mo Kio, Singapore</li>
                            <li><span class="fa fa-mobile"></span> 1800 9734 3301</li>
                            <li><span class="fa fa-headphones"></span> support@energyclash.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__text-copyright">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
