{% extends "layout.html" %} {% block body %}

<!-- login form -->
<div class="contact-form spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <h3>LOGIN</h3>
        <form action="#">
          <div class="input-list">
            <input type="text" placeholder="Name" />
          </div>
          <div class="input-list">
            <input type="text" placeholder="Password" />
          </div>
          <textarea placeholder="Question"></textarea>
          <button type="submit" class="site-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
